/node_modules
/.env
/api-gateway/node_modules
/services/item-service/node_modules
/services/list-service/node_modules
/services/user-service/node_modules
shared/service-registry.json
/listaCompras/build
/listaCompras/windows
/listaCompras/.dart_tool
/listaCompras/.idea
/listaCompras/ios/Runner
/listaCompras/macos
/listaCompras/android
/listaCompras/linux
/listaCompras/ios
